  <iframe id="ytplayer" type="text/html" width="100%" height="480"
  src="<%= embed_youtube_player_url(@lesson.video_url)%>"
  frameborder="0"></iframe>
<h3><%= @lesson.name %></h3>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Notes</a></li>
    <li role="presentation"><a href="#comments" aria-controls="profile" role="tab" data-toggle="tab">Comments</a></li>
     <li role="presentation"><a href="#lessons" aria-controls="profile" role="tab" data-toggle="tab">Lessons</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="well well-lg" style="margin-top: 25px;">
        <p><%= @lesson.description %></p>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="comments">
      <% @comments.each do |comment| %>
        <blockquote>
          <p><%= comment.body %></p>
          <footer><%= comment.user.name %>
          <% if comment.user == current_user && user_signed_in? %>
            <%= link_to "EDIT", edit_lesson_comment_path(@lesson, comment) %>
            <%= link_to "DELETE", lesson_comment_path(@lesson, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          </footer>
          <% end %>
        </blockquote>
      <% end %>
      <%= render 'comments/form' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="lessons">
      <!-- lesson.course.lessons.each  |lesson| -->
      <%#= link_to lesson.name, lesson_path(lesson) %>
      <!-- end -->
    </div>
  </div>

</div>

<script>
$('#home a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$('#comments a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>